.in-progress{
    border:1px solid black;
}
.background-img{
    background-image:linear-gradient(45deg,#044d5f ,#1588a5 299%,#d6f5fd 99%) ;
}
.background-img3{
    background-image:linear-gradient(45deg,#044d5f ,#1588a5 299%,#d6f5fd 99%) ;
}
.background-img2{
    background-image:linear-gradient(45deg,rgb(88, 33, 12) ,rgb(133 36 1) 9%,rgb(221, 79, 27) 99%) ;
}
.contacts{
    /* background-image:linear-gradient(45deg,#044d5f ,#1588a5 299%,#d6f5fd 99%) ; */
    /* background-image:url("../../../assets/media/IntroPic/bg-img.jpg") ; */
    width:100%;
    min-height:450px;
    overflow: visible;
}
@media (max-width:768px){
    .add-head,.com-head{
        left:-30% !important
    }
    .wrapper{
        align-items: start;
        justify-content: flex-start !important;
    }
    .width{
        width: 400px !important;
    }
}

.wrapper{
    flex-wrap: wrap ;
    width:100%;
    justify-content: center;
    min-height:300px;
    height: auto;
}

.com-head{
    color: white;
}
#con-Head{
    margin-top:0%;
    padding-top:0% ;
    text-align: center;
    font-size:3em;
}
.contacts .list-head{
    font-style: italic;
    text-align: center;
    position: relative;
    top: 8%;
    left: -10%;
    cursor:context-menu;
    font-size:1.8em;
}
.con-list{
    height: 20%;
    margin: 0px 0px 0px 0%;/*TRBL*/
}
.list-group{
    position: relative !important;
    width: 100%;
    height: 100% !important;
}
.list-group-item{
    cursor: pointer;
    height: inherit;
    background-color: transparent;
    color:white;
    font-size: 20px;
    border: 0px;
    transition: box-shadow ease-in 0.2s;
}
.social-icons:hover{
    box-shadow: 1px 1px 1px 1px rgba(3, 3, 3, 0.692);
}
.social-icons:active{
    box-shadow: 0px 0px 0px 0px rgba(3, 3, 3, 0.692);
}
a{
    text-decoration: none;
    color: inherit;
}
.social{
    color:rgba(255, 255, 255, 0.767);
    font-size: 1em;
}
.width{
    width:20%;
}
.address{
    top: 0px;
    height: 100%;
}
/* .add-head{

} */