  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body about">
        <div class="writing">
          <p>
            This is official website of Ambala Cantt. based firm called Archiriti Architects.
             It was established and serving since 1998. Archiriti architects owner name is
             Ar. Jagdish chawla of ambala cantt.Jagdish chawla is held post of Chairman of 
             Architects and Engineers Association Distt. Ambala from 2020-2022. It also offers
              3ds elevations, evaluations,
             with construction projects etc. We handle residential as well as commercial
             projects from small houses to big villas or small temples to big industries.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
