
.in-progress{
    border:1px solid black;
}
@media (max-width: 768px){
    .website-logo{
        width: 60px;
    }
}

.navigation-bar{
    z-index: 6000;
    background-color: rgba(0, 0, 0, 0.116);
    height: 80px;
    /* opacity: 0.8; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left: 0.2%;
    padding-right: 0.2%;
	transition:all ease-in 0.1s;
}
/* .navigation-bar:hover{
    background-color: rgba(53, 50, 50, 0.877);
     opacity:1
} */
.title-combo{
	width:45%;
	display: inline-block;
	height:100%;
}
.website-logo{
    min-height: 50px;
    margin-top:1vh;
    margin-left:1vh;
	height: 90%;
	width: 19%;
}
.website-name{
	position: relative;
    color:rgb(232, 253, 255); /*#1588a5*/
	margin-left:3%;
    top:2vh;
	font-size : clamp(25px, 5vw, 35px);
}
.empty-for-now {
    border: 1px solid red;
	/* display: flex; */
	width: 10%;
	position: relative;
	height: 100%;
	align-items: center;
}

.tabs{
	width:45%;
	height:100%;
	display: flex;
	padding-top: 2vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.section{
    color:rgb(232, 253, 255);
    width:6vw;
    height: 6vh;
    text-align: center;
    padding-top:1vh;
	transition:all ease-in 0.1s;
}
.section:hover{
    box-shadow:inset  0px 0px 6px px rgb(157, 233, 87);
    background-color: rgba(44, 43, 42, 0.911);
}
.tabs-menu{
    position: absolute;
    background-color: rgb(232, 253, 255);
    width: 50%;
    height: 200%;
    z-index: 20000;
    margin-top: -80px;
    margin-left: 50%;
    /* display: none; */
}
.transition{
    transition:all  ease-in-out 3s;
}
.tabs-menu-btn{
    transition: display  ease-in-out 3s;
    min-width: 40px;
    width:4%;
    height: 100%;
}

.fa-bars{
    margin: auto;
    font-size:30px;
	margin-top:45%;
	color:rgb(232, 253, 255);
	z-index:1040;
}
.tabs-list{
    position: relative;
}
#set{
	position:sticky;
	top:0px;
}
#set li a{
	color:rgb(133 36 1);
    font-size:20px;
    text-decoration:none;

}
#set li{ 
	transition: all 0.5s;
}
#set li:hover{
  color: blue;
}
.btn-colour{
    color:rgb(133 36 1) !important
}