<!-- <p>experience works!</p> -->
<div class="exp-belt flex-lg-row flex-column">
    <div class="exp-tabs"><fa-icon [icon]="years"></fa-icon><p id="exp-no">{{expyrCount}}</p><p class="exp-tabs-name" id="exp"> years experience</p></div>
    <div class="exp-tabs"><fa-icon [icon]="bCase"></fa-icon><p id="prj-no">{{projCount}}</p><p class="exp-tabs-name" id="prj">Projects</p></div>
    <div class="exp-tabs"><fa-icon [icon]="superVision_"></fa-icon><p id="svis-no">{{supCount}}</p><p class="exp-tabs-name" id="svis">Supervision provided</p></div>
</div>
