<!-- <p>projects works!</p>/ -->
<div id="proj-win" class="projects d-flex justify-content-center align-items-center ">
    <div class="wrappers">
      <div id="frame-card-1" class="frame-cards ">
        <div class="skel-div">
          <div class="hanger-lines"></div>
          <div class="hanger-lines2"></div>
          <div class=" photo-frame">
            <div>
              <img [src]="img1">
            </div>
          </div>
        </div>
      </div>
      <div id="frame-card-2" class="frame-cards ">
        <div class="skel-div">
          <div class="hanger-lines"></div>
          <div class="hanger-lines2"></div>
          <div class=" photo-frame">
            <div>
              <img [src]="img2">
            </div>
          </div>
        </div>
      </div>
      <div id="frame-card-3" class="frame-cards ">
        <div class="skel-div">
          <div class="hanger-lines"></div>
          <div class="hanger-lines2"></div>
          <div class=" photo-frame">
            <div>
              <img [src]="img3">
            </div>
          </div>
        </div>
      </div>
      <div id="frame-card-4" class="frame-cards ">
        <div class="skel-div">
          <div class="hanger-lines"></div>
          <div class="hanger-lines2"></div>
          <div class=" photo-frame">
            <div>
              <img [src]="img4">
            </div>
          </div>
        </div>
      </div>
      <a href="/projects" type="button" class="btn btn-outline-light">Explore Our Projects</a>
    </div>
</div>

    